
.square {
  height:100px;
  width:100px;
  padding: 10px;
  margin:10px;
  font-size: 60px;
  text-align: center;
  
}
.ret{
  padding-top: 2rem;
  text-align: center;
}
.retry{
  color:#ffffff;
  font-size: 20px;
  width:100px;
  height:50px;
  font-weight: 600;
}
.retry:hover{
  color:black;
  background-color: white;
  border:2px solid black;
}
.row{
  text-align: center;
  height:120px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status{
  font-size: 20px;
  text-align: center;
  margin:4rem;
  color:white;
  line-height: 0.5;
}
button{

  border-radius: 10px;
  border:1px solid white;
  color:white;
  background-color: black;
  text-align: center;
}
h1{
  text-align: center;
  color:white;
}
.winning {
  text-decoration: line-through;
}